 <%= form_for(@myblog) do |f| %>
	<table class="table">
	  <caption>Editing Myblog</caption>


	  <tbody>
	    <tr>
	      	<td><%= f.label :title %></td>
	      	<td><%= f.text_field :title %></td>
	    </tr>
	    <tr>
	      	<td><%= f.label :user %></td>
	      	<td><%= f.text_field :user_id %></td>
	    </tr>
	    <tr>
	      	<td><%= f.label :abstract %></td>
	     	<td><%= f.text_area :abstract ,"cols" => 98, "rows" => 3 %></td>
	    </tr>
	    <tr>
		    <td> <%= f.label :content %></td>
		    <td><%= f.kindeditor :content, :width => 802, :height => 600,:resizeType=>0 %></td>
		</tr>
		<tr>
	    	<td><%= f.submit "Create my account", class: "btn btn-primary" %></td>
	  	</tr>
	  </tbody>
	</table>
<% end %>

<%= link_to 'Show', @myblog %> |
<%= link_to 'Back', myblogs_path %>
