

  <div class="fh5co-loader"></div>
  

  <nav class="fh5co-nav" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="top-menu">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-left menu-1">
                <ul>
                  <li >
                  <%= link_to 'Home',root_path%></li>
                  <li class="has-dropdown">
                  <%=link_to 'Mystyle', '#' %>
                    <ul class="dropdown">
                      <li><a href="#">Photo</a></li>
                      <li><%=link_to 'Blog',myblogs_path%></li>
                      <li><a href="#">Article</a></li>
                    </ul>
                  </li>
                   <li><%= link_to 'About' , about_path %></li>
                  
                  <li><%=link_to "Connect",connect_path %></li>
                   <% if logged_in? %>  <li ><%= current_user.name %></li> <% end %>
                  <li class="has-dropdown">

                  <%=link_to 'Account', '#' %>
                    <ul class="dropdown">
                      <% if logged_in? %>
                        <!-- 注销 -->
                       <li><%= link_to "Log out", logout_path, method: :delete %></li>
                      <% else %>
                      <!-- 登录 -->
                        <li><%= link_to "Log in", login_path %></li>
                      <% end %>
                    </ul>
                  </li>
                   
                  
                </ul>
              </div>
              <div class="col-sm-5">
                <ul class="fh5co-social-icons">
                  <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                  <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                  <li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center menu-2">
          
        </div>
      </div>
    </div>
  </nav>